  
  <div *ngIf = "isLoading" class="row tr_inner" #skeleton>
   <div class="col-12 gotocls"> <div class="tran trac7"></div> </div>
   <div class="col-12 tracker_detail">
     <div class="tra_subdetail">
       <div class="tran trac8"></div>
     </div>
     <div class="tra_videoallow">
      <div class="tran trac8"></div>
     </div>
     <div class="tra_reallow">
       <div class="tran trac8"></div>
     </div>
      <div class="tra_publish">
          <div class="tran trac8"></div>
      </div>
      <div class="clear"></div>
   </div>


<div class="row tra_heading">

       <div class="col-md-4">
          <div class="tran trac9"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       
       <div class="col-md-1">
           <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
     
       
       

   
</div>


<div class="tracker_par_list row">
       <div class="col-md-4">
            <div class="trac_img"><div class="trac12 tran"></div> </div>

<div class="trac_name">
  <label class="trac13 tran"> </label>
  <p class="trac14 tran"></p>
</div>
<div class="clear"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       <div class="col-md-2">
        <div class="tran trac10"></div>
       </div>
       
       
       <div class="col-md-1">
       <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       
       
   </div>
   
   <div class="tracker_par_list row">
       <div class="col-md-4">
            <div class="trac_img"><div class="trac12 tran"></div> </div>

<div class="trac_name">
  <label class="trac13 tran"> </label>
  <p class="trac14 tran"></p>
</div>
<div class="clear"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       <div class="col-md-2">
        <div class="tran trac10"></div>
       </div>
       
       
       <div class="col-md-1">
       <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       
       
   </div>
   
   <div class="tracker_par_list row">
       <div class="col-md-4">
            <div class="trac_img"><div class="trac12 tran"></div> </div>

<div class="trac_name">
  <label class="trac13 tran"> </label>
  <p class="trac14 tran"></p>
</div>
<div class="clear"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       <div class="col-md-2">
        <div class="tran trac10"></div>
       </div>
       
       
       <div class="col-md-1">
       <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       
       
   </div>
   
   <div class="tracker_par_list row">
       <div class="col-md-4">
            <div class="trac_img"><div class="trac12 tran"></div> </div>

<div class="trac_name">
  <label class="trac13 tran"> </label>
  <p class="trac14 tran"></p>
</div>
<div class="clear"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       <div class="col-md-2">
        <div class="tran trac10"></div>
       </div>
       
       
       <div class="col-md-1">
       <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       
       
   </div>
   <div class="tracker_par_list row">
       <div class="col-md-4">
            <div class="trac_img"><div class="trac12 tran"></div> </div>

<div class="trac_name">
  <label class="trac13 tran"> </label>
  <p class="trac14 tran"></p>
</div>
<div class="clear"></div>
       </div>
       
       <div class="col-md-2">
          <div class="tran trac10"></div>
       </div>
       
       <div class="col-md-2">
        <div class="tran trac10"></div>
       </div>
       
       
       <div class="col-md-1">
       <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       <div class="col-md-1">
          <div class="tran trac11"></div>
       </div>
       
       
       
       
   </div>
   
  
  </div>
   
   
   
   
   
   <div *ngIf="list.isOpen && !isLoading" class="row tr_inner" #realData>
        <div class="col-12 gotocls">
           <a href="javascript:void(0)" (click)="openLinkInNewTab(list.account_folder_id)"> {{translations.go_to_assessment_ng}} <img src="assets/trackers/img/right_assis.svg"></a>
         </div>
        <div class="col-12 tracker_detail">
          <div class="tra_subdetail">
            <p><img src="assets/trackers/img/cal_icon.svg"> <span>{{translations.submission_deadline_ng}}</span> {{list.assessment_huddle_essentials.submission_deadline_date}}    {{list.assessment_huddle_essentials.submission_deadline_time}} </p>
          </div>
          <div class="tra_videoallow">
            <p><img src="assets/trackers/img/vido_icon.svg"> <span>{{translations.videos_allowed_ng}}</span> {{list.assessment_huddle_essentials.submission_allowed}} </p>
          </div>
          <div class="tra_reallow">
            <p><img src="assets/trackers/img/res_icon.svg"> <span>{{translations.resources_allowed_ng}}</span> {{list.assessment_huddle_essentials.resource_submission_allowed}} </p>
          </div>
           <div class="tra_publish">
               <p><img src="assets/trackers/img/publish_date.svg"> <span>{{translations.published_ng}}</span> {{list.assessment_huddle_essentials.published_date}} </p>
           </div>
           <div class="clear"></div>
        </div>
     
     
     <div class="row tra_heading">

            <div class="col-md-4">
               {{translations.assessee_ng}}
            </div>
            
            <div class="col-md-2">
               {{translations.last_modified_ng}}
            </div>
            
            <div class="col-md-2">
               {{translations.last_submission_ng}}
            </div>
            
            
            <div class="col-md-1">
               {{translations.videos_tracker_ng}}
            </div>
            
            
            <div class="col-md-1">
               {{translations.resources_tracker_ng}}
            </div>
            
            
            <div class="col-md-1">
               {{translations.comments_tracker_ng}}
            </div>
            
            
            <div class="col-md-1">
               {{translations.assessed_tracker_ng}}
            </div>
            
          
            
            
     
        
     </div>
   
     <div *ngIf = "huddle_detail && huddle_detail.length == 0" class = "no_recent_activity">
   <svg _ngcontent-c8="" data-name="Group 332" height="90.7" id="Group_332" viewBox="0 0 90.7 90.7" width="90.7" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-c8="" d="M45.35,0A45.29,45.29,0,1,1,13.265,13.265,45.239,45.239,0,0,1,45.35,0Zm0,56.708a6.121,6.121,0,0,1,6.135,6.135,6.192,6.192,0,0,1-6.135,6.218,6.263,6.263,0,0,1-6.218-6.218A6.192,6.192,0,0,1,45.35,56.708Zm0-6.218A4.329,4.329,0,0,1,41.2,46.345L39.132,27.857c-.332-3.233,3.068-6.218,6.218-6.218s6.55,2.985,6.135,6.218L49.5,46.345A4.329,4.329,0,0,1,45.35,50.49Zm26.2-31.422A37.129,37.129,0,1,0,82.409,45.35,37.325,37.325,0,0,0,71.549,19.069Z" data-name="Path 51" fill="#616161" id="Path_51" transform="translate(0)"></path></svg>{{translations.no_assesses_tracker_ng}}</div>  

    
     <div *ngFor = "let detail of huddle_detail | paginate: { itemsPerPage: 8, currentPage: list.page, id: list.account_folder_id }" [ngClass]="detail.assessed ? '' : 'non_accessed'" class="tracker_par_list row">
            <div class="col-md-4">
                 <div class="trac_img"><img [src]="ImageUrlBuilder(detail)" width="30"></div>
    
    <div class="trac_name">
       <label *ngIf="detail.user_name.length > 25" >{{detail.user_name | slice:0:25}}...</label>
       <label *ngIf="detail.user_name.length <= 20" >{{detail.user_name}}</label>
       <p>{{detail.user_email}}</p>
  </div>
  <div class="clear"></div>
            </div>
            
            <div class="col-md-2">
               {{detail.last_modified}}
            </div>
            
            <div class="col-md-2">
                {{detail.last_submission}}
            </div>
            
            
            <div class="col-md-1">
            <span class="trac_cls1">
               <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9.333" viewBox="0 0 7 9.333">
<g id="Group_3" data-name="Group 3" transform="translate(-4 -1.183)">
  <path id="Path" d="M0,.684C0,.157.485-.174.868.1L3.79,2.084,6.713,4.057a.76.76,0,0,1,0,1.19L3.79,7.234l-2.923,2C.485,9.508,0,9.176,0,8.649V.684Z" transform="translate(4 1.183)" fill="#935aff"></path>
</g>
</svg>  {{detail.videos_count}}
</span>
            </div>
            
            
            <div class="col-md-1">
               <span class="trac_cls2">
               <svg xmlns="http://www.w3.org/2000/svg" width="6.923" height="9" viewBox="0 0 6.923 9">
<g id="Group_530" data-name="Group 530" transform="translate(0 0)">
  <g id="noun_File_2044110_000000" transform="translate(0 0)">
    <path id="Path" d="M0,0V3.057H3.056Z" transform="translate(3.866)" fill="#28A745"></path>
    <path id="Path-2" data-name="Path" d="M3.1,3.864V0H0V9H6.923V3.864Z" transform="translate(0 0)" fill="#935aff"></path>
  </g>
</g>
</svg> {{detail.resources_count}}
</span>
            </div>
            
            
            <div class="col-md-1">
               <span class="trac_cls3">
              <svg xmlns="http://www.w3.org/2000/svg" id="noun_comment_847914" width="9" height="8.1" viewBox="0 0 9 8.1">
<path id="Path" d="M1.691,6.027c-.169-.123-.34-.238-.5-.369A3.17,3.17,0,0,1,.214,4.405,2.553,2.553,0,0,1,.4,2.011,3.787,3.787,0,0,1,2.38.411,5.735,5.735,0,0,1,6.465.343,4.035,4.035,0,0,1,8.478,1.8a2.679,2.679,0,0,1-.125,3.335A4.471,4.471,0,0,1,5.885,6.593a6.046,6.046,0,0,1-2.027.131.277.277,0,0,0-.18.074,5.479,5.479,0,0,1-2.49,1.255c-.085.018-.171.03-.256.043a.22.22,0,0,1-.252-.121.252.252,0,0,1,.034-.291c.08-.1.162-.2.249-.3A3.027,3.027,0,0,0,1.691,6.027Z" fill="#1485fe"></path>
</svg> {{detail.comments_count}}
</span>
            </div>
            
            
            <div class="col-md-1">
               <span class="trac_cls4">
               
     
            <svg *ngIf = "detail.assessed" xmlns="http://www.w3.org/2000/svg" width="10.749" height="7.668" viewBox="0 0 10.749 7.668">
<path id="Path_99" data-name="Path 99" d="M-3257.017-10298.373l2.378,2.514,6.871-6.168" transform="translate(3257.767 10302.777)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
</svg>

<svg *ngIf = "!detail.assessed" xmlns="http://www.w3.org/2000/svg" width="9.867" height="9.867" viewBox="0 0 9.867 9.867">
   <g id="Group_508" data-name="Group 508" transform="translate(-16.303 -6.471)">
     <path id="Path_92" data-name="Path 92" d="M-3249.157-10301.331l-5.482,5.472" transform="translate(-4961.532 9593.05) rotate(45)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
   </g>
 </svg>


</span>
            </div>
            
            
            
            
        </div>
        <pagination-controls *ngIf="huddle_detail?.length > 8" [id]="list.account_folder_id" (pageChange)="list.page = $event" previousLabel="<" nextLabel=">"></pagination-controls>
   
        
    
        
       
       </div>