<div class="row list_row">
  <div class="col-md-5">
    <div class="thumblist animate_me">

    </div>

    <div class="detail_list">
      <p class="animate_me lineane"></p>
      <div class="huddle_option ani_2">
        <span class=" animate_me"> </span>
        <span class=" animate_me"> </span>



      </div>

    </div>

  </div>
  <div class="col-md-2">
    <label class="animate_me dot_ani2"></label>
  </div>
  <div class="col-md-2">
    <label class="animate_me dot_ani2"></label>
  </div>
  <div class="col-md-3 list_share">

    <label class="animate_me dot_ani2"></label>
    <label class="animate_me dot_ani dot_ani3"></label>

  </div>
</div>
<div class="row list_row">
  <div class="col-md-5">
    <div class="thumblist animate_me">

    </div>

    <div class="detail_list">
      <p class="animate_me lineane"></p>
      <div class="huddle_option ani_2">
        <span class=" animate_me"> </span>
        <span class=" animate_me"> </span>



      </div>

    </div>

  </div>
  <div class="col-md-2">
    <label class="animate_me dot_ani2"></label>
  </div>
  <div class="col-md-2">
    <label class="animate_me dot_ani2"></label>
  </div>
  <div class="col-md-3 list_share">

    <label class="animate_me dot_ani2"></label>
    <label class="animate_me dot_ani dot_ani3"></label>

  </div>
</div>