<ng-container *ngIf="!loaded then preLoaderSection else actualDataSection"></ng-container>
<ng-template #preLoaderSection>
    <video-page-loader-animation></video-page-loader-animation>
</ng-template>
<ng-template #actualDataSection>
    <div id="main" class="container box" (window:beforeunload)="confirmExit($event)" *ngIf="isAuthenticatedUser">
        <div class="analy_b">
            <div class="header_an headindfix">
                <h2>{{VideoInfo?.title}}</h2>
            </div>
            <div class="video_body">
                <tabset #staticTabs>
                    <tab (selectTab)="SelectTab(0)" *ngIf="true">
                        <ng-template tabHeading>
                            {{translation?.vd_comments}} <span
                                class="badge badge-primary">{{totals.comment_count}}</span>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(1)" *ngIf="true">
                        <ng-template tabHeading>
                            {{translation?.vd_attachment}} <span
                                class="badge badge-primary">{{staticFiles.length}}</span>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(2)"
                        *ngIf="permissions?.rubric_check && userAccountLevelRoleId != '125'">
                        <ng-template tabHeading>
                            <ng-container *ngIf="VideoInfo.h_type==3">
                                {{translation?.vd_rubrics}}
                            </ng-container>
                            <ng-container *ngIf="VideoInfo.h_type!=3">
                                {{translation?.vd_frameworks}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(3)"
                        *ngIf="getCoachingSummaryCheck() && userAccountLevelRoleId != '125'">
                        <ng-template tabHeading>
                            <ng-container *ngIf="VideoInfo?.h_type==2"> {{translation?.vd_coaching_summary}}
                            </ng-container>
                            <ng-container *ngIf="VideoInfo?.h_type==3">{{translation?.vd_assessment_summary}}
                            </ng-container>
                        </ng-template>
                    </tab>
                    <tab (selectTab)="SelectTab(4)"
                        *ngIf="permissions?.performance_level_check && permissions?.rubric_check && getPLTabPermission() && userAccountLevelRoleId != '125'">
                        <ng-template tabHeading>
                            {{translation?.vd_performance_level}}
                        </ng-template>
                    </tab>
                    <tab (selectTab)="PointToLink()"
                        *ngIf="(VideoInfo?.h_type==2 || VideoInfo?.h_type==3) && (VideoInfo.assessment_link || VideoInfo.coaching_link) && userAccountLevelRoleId != '125'"
                        customClass="extrnl-lnk">
                        <ng-template tabHeading>
                            {{VideoInfo?.h_type==2?translation?.vd_coaching_tracker:VideoInfo?.h_type==3?translation?.vd_assessment_tracker:""}}
                            <i class="oi" data-glyph="external-link" title="" aria-hidden="true"> </i>
                        </ng-template>
                    </tab>

                </tabset>
                <div class="tab-content">
                    <div class="row">
                        <div class="col-md-6" [hidden]="currentTab == 4">

                            <ng-container>
                                <video-player
                                    *ngIf="!isVideoProcessing && (transCodingStatus!=5 && !errorStatus) && VideoInfo.video_is_saved !=0"
                                    [lsCommentExisted]="lsCommentExisted" [params]="params"
                                    (IsPlaying)="isPlaying=$event" [VideoInfo]="VideoInfo"
                                    (VideoCurrentTime)="GetTime($event)" [comments]="comments"
                                    [customMarkers]="CustomMarkers" [colors]="colorClasses" [ShowInfo]="ShowInfo"
                                    [src]="src" (ShowInfoBack)="ShowInfo=$event"
                                    (videoDuration)="checkForVideoCommentPlay($event)"></video-player>
                            </ng-container>

                            <div class="fake_player"
                                *ngIf="(isVideoProcessing || VideoInfo.video_is_saved ==0) && (transCodingStatus!=5 && !errorStatus)">
                                <video-player *ngIf="VideoInfo.video_is_saved ==0" [src]="src" [params]="params"
                                    (IsPlaying)="isPlaying=$event" [VideoInfo]="VideoInfo" [ShowInfo]="ShowInfo">
                                </video-player>
                                <h6 *ngIf="!isAudio && VideoInfo.video_is_saved !=0">
                                    <span> {{ translation?.vd_video_is_currently}} </span>
                                </h6>
                                <h6 *ngIf="isAudio">
                                    {{translation?.vd_audio_is_currently}}
                                </h6>

                            </div>

                            <div class="fake_player" *ngIf="(transCodingStatus==5  || errorStatus)">
                                <h6>
                                    {{translation?.video_not_processed}}<a target="_top">support@sibme.com</a>
                                </h6>
                            </div>
                            <div class="video_info_main"
                                *ngIf="!isVideoProcessing && (transCodingStatus!=5 && !errorStatus)">
                                <div *ngIf="permissions.showCopy && userAccountLevelRoleId != '125'"
                                    class="video_options btn-group" dropdown>
                                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                        aria-controls="dropdown-basic" (click)="closeInfo();">

                                        <img src="assets/img/dot.svg">
                                    </div>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li *ngIf="VideoInfo.video_is_saved !=0" role="menuitem"
                                            (click)="InitiateCopyDialog(copyDialog)">
                                            <span class="dropdown-item">{{translation?.vd_copy}}</span>
                                        </li>
                                        <li role="menuitem"
                                            *ngIf="!isCroLoading && permissions.can_crop_video && VideoInfo.video_is_saved !=0"
                                            (click)="InitiateCropDialog(cropDialog)">
                                            <span class="dropdown-item">{{translation?.vd_crop}}</span>
                                        </li>
                                        <li role="menuitem" *ngIf="isCroLoading">
                                            <span class="dropdown-item">{{translation?.vd_processing}} <span
                                                    class="oi animated rotateIn infinite"
                                                    data-glyph="loop-circular"></span> </span>
                                        </li>
                                        <li *ngIf="permissions.can_crop_video" role="menuitem"
                                            (click)="InitiateDeleteVideo(confirmDialogDel)">
                                            <span class="dropdown-item">{{translation?.vd_delete}}</span>
                                        </li>
                                        <li *ngIf="VideoInfo.video_is_saved !=0" role="menuitem"
                                            (click)="DownloadVideo()">
                                            <span class="dropdown-item">{{translation?.vd_download}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
                                    {{translation?.vd_info}}
                                </div>
                                <div *ngIf="!videoIsLessAutoCommentPlayRange"
                                    [ngStyle]="{'opacity': videoCommentPlayAvailable ? 1 : 0.9}"
                                    class="auto-play-on-off-container">
                                    <img [tooltip]="translation?.comments_autoplay" src="assets/img/autoplay-off.svg"
                                        *ngIf="videoCommentPlayState === 'off'"
                                        (click)="toggleVideoCommentPlayState('on', videoCommentPlayAvailable)"
                                        style="height: 24px;" />
                                    <img [tooltip]="translation?.comments_autoplay" src="assets/img/autoplay-on.svg"
                                        *ngIf="videoCommentPlayState === 'on'"
                                        (click)="toggleVideoCommentPlayState('off')" style="height: 24px;" />
                                </div>
                                <div *ngIf="videoIsLessAutoCommentPlayRange" class="auto-play-on-off-container">
                                    <img [tooltip]="translation?.video_must_be_longer_than_one_minute"
                                        src="assets/img/autoplay-disabled.svg" *ngIf="!videoCommentPlayAvailable"
                                        style="height: 24px;" />
                                </div>
                                <div *ngIf="EditMode" class="updateLable">
                                    <label>{{translation?.vd_update_comments}}</label>
                                </div>
                                <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                                <div class="clear"></div>
                            </div>
                            <div class="video_info_main"
                                *ngIf="isVideoProcessing || transCodingStatus==5 || errorStatus">
                                <div *ngIf="permissions.showCopy && userAccountLevelRoleId != '125'"
                                    class="video_options btn-group" dropdown>
                                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle"
                                        aria-controls="dropdown-basic" (click)="closeInfo();">

                                        <img src="assets/img/dot.svg">
                                    </div>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem disabled">
                                            <span class="dropdown-item disabled">{{translation?.vd_copy}}</span>
                                        </li>
                                        <li role="menuitem disabled" *ngIf="!isCroLoading">
                                            <span class="dropdown-item disabled">{{translation?.vd_crop}}</span>
                                        </li>
                                        <li role="menuitem disabled" *ngIf="isCroLoading">
                                            <span class="dropdown-item disabled">{{translation?.vd_processing}} <span
                                                    class="oi animated rotateIn infinite"
                                                    data-glyph="loop-circular"></span> </span>
                                        </li>
                                        <li *ngIf="(transCodingStatus!=5 || !errorStatus)" role="menuitem">
                                            <span class="dropdown-item disabled">{{translation?.vd_delete}}</span>
                                        </li>

                                        <li *ngIf="(transCodingStatus==5 || errorStatus)" role="menuitem"
                                            (click)="InitiateDeleteVideo(confirmDialogDel)">
                                            <span class="dropdown-item">{{translation?.vd_delete}}</span>
                                        </li>
                                        <li role="menuitem disabled">
                                            <span class="dropdown-item disabled">{{translation?.vd_download}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
                                    {{translation?.vd_info}}
                                </div>
                                <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                                <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                                <div class="clear"></div>
                            </div>
                            <video-page-video-add-comment [VideoInfo]="VideoInfo"
                                [isVideoProcessing]="isVideoProcessing" [permissions]="permissions"
                                [userAccountLevelRoleId]="userAccountLevelRoleId" [CustomMarkers]="CustomMarkers">
                            </video-page-video-add-comment>
                        </div>
                        <div class="col-sm-6" *ngIf="currentTab==0">
                            <video-comment-list [EnablePublish]="EnablePublish" [permissions]="permissions"
                                [VideoInfo]="VideoInfo" [customMarkers]="CustomMarkers" [params]="params"
                                [classes]="colorClasses" [comments]="comments" [staticFiles]="staticFiles"
                                [settings]="settings">
                            </video-comment-list>
                        </div>
                        <div class="col-sm-6" *ngIf="currentTab==2">
                            <ng-container *ngIf="permissions?.framework_selected_for_video!=1">
                                <div class="preview_container" *ngIf="getSelectFrameworkPermission()">
                                    <div>
                                        {{translation?.vd_choose_framework}} </div>
                                    <select class="form-control" [(ngModel)]="VideoHuddleFramework"
                                        (ngModelChange)="GetRubricById($event)">
                                        <option value=""> {{translation?.vd_select_framework}} </option>
                                        <option *ngFor="let framework of frameworks"
                                            [attr.value]="framework.account_tag_id">
                                            {{framework.tag_title}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf="rubricPreview">
                                        <div [style.margin-top.px]="20" size="7px" transition="0.2" railVisible="true"
                                            railOpacity="0.2" railColor="#000" height="385px" id="slimscroll"
                                            slimScroll>
                                            <rubrics [isCreater]="'true'" [data]="rubricPreview" [previewMode]="true">
                                            </rubrics>
                                        </div>
                                        <div class="text-right pull-from-top">
                                            <button class="btn btn-default"
                                                (click)="AssignFramework(confirmFrameworkSet, 0)">
                                                {{translation?.vd_cancel}} </button>
                                            <button [disabled]="!VideoHuddleFramework" class="btn btn-success"
                                                (click)="AssignFramework(confirmFrameworkSet, 1)"
                                                [style.backgroundColor]="primery_button_color">
                                                {{translation?.vd_use_framework}} </button>
                                        </div>
                                    </ng-container>
                                </div>
                                <div *ngIf="!getSelectFrameworkPermission()" class="text-center">
                                    {{translation?.vd_you_must_define}}
                                </div>
                            </ng-container>
                            <ng-container *ngIf="permissions?.framework_selected_for_video==1">
                                <input type="text" placeholder="{{translation?.vd_search_framework}}"
                                    class="form-control" [(ngModel)]="term">
                                <rubrics [isCreater]="'true'" [term]="term" [data]="rubrics"></rubrics>
                            </ng-container>
                        </div>
                        <div class="col-sm-6" *ngIf="currentTab==3">

                            <coaching-summary [VideoInfo]="VideoInfo" [params]="params"
                                [huddle_permission]="permissions.huddle_permission"
                                [coaching_perfomance_level]="permissions.coaching_perfomance_level"></coaching-summary>
                        </div>
                        <div class="col-sm-6" *ngIf="currentTab==1">
                            <video-page-attachments [currnetUser]="currnetUser" [translation]="translation" [staticFiles]="staticFiles" [userAccountLevelRoleId]="userAccountLevelRoleId"></video-page-attachments>
                            <!-- <div class="row btn_resources_upload_wrapper">
                                <div class="add_comm_btn col-sm-12" *ngIf="userAccountLevelRoleId != '125'">
                                    <fs-uploader [label]="translation?.vd_upload" [source]="'resources'"
                                        [configuration]="videoOptions" (onUpload)="GetNewFiles($event)"></fs-uploader>
                                </div>
                            </div>
                            <table class="table table-hover resources" *ngIf="staticFiles.length>0">
                                <thead>
                                    <tr>
                                        <th>
                                            {{translation?.vd_time}}
                                        </th>
                                        <th>
                                            {{translation?.vd_file}}
                                        </th>
                                        <th class="text-right">
                                            {{translation?.vd_action}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of staticFiles">
                                        <td class="clickable" style="width: 90px;" (click)="Seek(file.time)">
                                            <span> {{file.time  || translation?.vd_all_videos}} </span>
                                        </td>
                                        <td class="clickable" (click)="FileClicked('td', file)">
                                            <span class="oi file_icon" data-glyph="file"></span> <span class="file_name"
                                                title="{{file?.title}}">{{file?.title}}</span>
                                        </td>
                                        <td *ngIf="file.id && userAccountLevelRoleId != '125'">
                                            <div class="video_options btn-group" dropdown>
                                                <div id="button-basic" dropdownToggle
                                                    class="comm_options dropdown-toggle" aria-controls="dropdown-basic"
                                                    (click)="closeInfo();">

                                                    <img src="assets/img/dot.svg">
                                                </div>
                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                    aria-labelledby="button-basic">
                                                    <li role="menuitem" class="fake_link"
                                                        *ngIf="currnetUser.id == file.created_by">
                                                        <span class="dropdown-item"
                                                            (click)="InitiateDeleteResource(confirmDialog, file)">{{translation?.vd_delete}}</span>
                                                    </li>
                                                    <li role="menuitem" class="fake_link"
                                                        (click)="FileClicked('li', file)">
                                                        <span class="dropdown-item">{{translation?.vd_download}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td *ngIf="!file.id">
                                            {{translation?.vd_uploading}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div>
                    </div>
                    <div class="row" *ngIf="currentTab == 4">
                        <div class="avg_performance_level"
                            *ngIf="permissions?.framework_selected_for_video==1 && PLTabData?.average_rating">
                            <label>{{translation?.vd_avrg_pl}} <b>{{PLTabData?.average_rating}}</b> </label>
                        </div>
                        <div class="col-sm-6" *ngIf="permissions?.framework_selected_for_video==1">
                            <rubrics [isCreater]="'true'" [data]="PLTabData?.standards?.data" [from]="'tab'"
                                (RubricClicked)="OnRubricClicked($event)">
                            </rubrics>
                        </div>
                        <div class="col-sm-6" *ngIf="permissions?.framework_selected_for_video!=1">
                            {{translation?.vd_you_must_define_frameworks}}
                        </div>
                        <div class="col-sm-6" *ngIf="PLcomments && SelectedPLRubric">
                            <div class="selectedPl">
                                <div class="flex_box_pLevel">
                                    <span class="rub_nu flex_box_pLevel_left">{{SelectedPLRubric?.tag_code}}</span>
                                    <span class="flex_box_pLevel_right">
                                        {{SelectedPLRubric?.tag_html}}
                                        <div class="number_tagged" *ngIf="SelectedPLRubric?.account_tag_id">
                                            {{translation?.vd_times_observed}}: <span
                                                class="badge badge-primary">{{SelectedPLRubric?.get_standard_tagged_count}}</span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="Pldropdown" *ngIf=" PLcomments.length>0">
                                <label *ngIf="currnetUser.huddle_role_id == 210 && SelectedPLRubric.selectedRating">
                                    {{translation?.vd_performance_level_ratting}}:
                                    <b [style.display]="'inherit'">
                                        <select class="form-control fake_select" disabled
                                            [(ngModel)]="SelectedPLRubric.selectedRating"
                                            (ngModelChange)="RatingChanged($event)">
                                            <option [value]="0" selected="selected"> {{translation?.rating_select}}
                                            </option>
                                            <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                                {{pl.text}}
                                            </option>
                                        </select>
                                    </b>
                                </label>
                                <select *ngIf="permissions.can_rate && currnetUser.huddle_role_id == 200"
                                    class="form-control" [(ngModel)]="SelectedPLRubric.selectedRating"
                                    (ngModelChange)="RatingChanged($event)">
                                    <option [value]="0" selected="selected"> {{translation?.rating_select}} </option>
                                    <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                        {{pl.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="comments_desc" *ngIf="PLcomments && PLcomments.length>0">
                                <tabset class="tab_no_border">
                                    <tab>
                                        <ng-template tabHeading>
                                            {{translation?.vd_comments}}
                                        </ng-template>
                                        <div class="comm_option comm_option2 nopointer"
                                            *ngIf="PLcomments && PLcomments.length>0">
                                            <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                                <span class="custom_tag" [style.background]="colorClasses[i]"
                                                    [style.borderColor]="[colorClasses[i]]"
                                                    (click)="SelectTag(marker)"></span> {{marker.tag_title}}
                                            </ng-container>
                                        </div>
                                        <comment [from]="'tab'" *ngFor="let comment of PLcomments"
                                            [staticFiles]="staticFiles" [settings]="settings"
                                            (onDelete)="onCommentDelete($event)" (onEdit)="onCommentEdit($event)"
                                            [isActive]="currentComment == comment" [customMarkers]="CustomMarkers"
                                            [classes]="colorClasses" [comment]="comment" [params]="params"
                                            (onReplyEdit)="onReplyEdit($event)"> </comment>
                                    </tab>
                                    <tab *ngIf="getSettings('enable_performance_level')!=0">
                                        <ng-template tabHeading>
                                            {{translation?.vd_performance_level_desc}}
                                        </ng-template>
                                        <ng-container *ngIf="getSettings('enable_unique_desc')==0">
                                            <div class="performance_level_detail"
                                                *ngFor="let settings of SelectedPLRubric?.account_framework_settings_performance_levels">
                                                <div>
                                                    <h6> {{settings.performance_level}} </h6>
                                                </div>
                                                <div> {{settings.description}} </div>
                                            </div>
                                        </ng-container>
                                        <ng-container
                                            *ngIf="this.SelectedPLRubric.descriptions && this.SelectedPLRubric.descriptions.length>0">
                                            <div *ngFor="let description of this.SelectedPLRubric.descriptions">
                                                <div>
                                                    <h6> {{description.label}} </h6>
                                                </div>
                                                <div> {{description.text}} </div>
                                            </div>
                                        </ng-container>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--body-->
        </div>
    </div>
</ng-template>
<ng-template #confirmDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_sure_that}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteFile(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFile(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmDialogDel>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDel.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_are_you_sure}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteVideo(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteVideo(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmFrameworkSet>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.vd_assigning_a_framework}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveAssignFramework(0)">
                {{translation?.vd_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveAssignFramework(1)">
                {{translation?.vd_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #copyDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">
            {{translation?.workspace_share}}
            <!-- {{translation?.vd_copy_video}} -->
        </h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset id="tabs_copy_video">
            <tab id="tab1" (selectTab)="currentCopyTab=0" *ngIf="true">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="comment-square" title="" aria-hidden="true"></span>
                    {{translation?.workspace_sharetohuddle}}
                    <!-- {{translation?.vd_copy_to_huddle}} -->
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform hu_search">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput"
                            type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchHuddleText"
                            (ngModelChange)="onSearchHuddleChange($event)">
                        <div id="cancel-btn" type="text"
                            style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; "
                            class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <ng-container *ngFor="let huddle of CopyData.all_huddles; let i=index">
                            <li *ngIf="huddle?.meta_data_value!='3'" [hidden]="!huddle.valid">

                                <label class="checkboxcls">{{huddle.name}}
                                    <input type="checkbox" [(ngModel)]="huddle.selected">
                                    <span class="checkmark"></span>
                                </label>

                                <!-- <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'huddle'+i" type="checkbox"
                                    [(ngModel)]="huddle.selected">
                            </label>
                                <label [attr.for]="'huddle'+i">
                                <a class="copy_link"> {{huddle.name}}</a>
                            </label> -->
                            </li>
                        </ng-container>

                        <li *ngIf="CopyData?.huddles_matched==0">
                            {{translation?.vd_no_huddles_match}} </li>
                    </ul>
                </div>
            </tab>
            <tab (selectTab)="currentCopyTab=1"
                *ngIf="permissions?.permission_video_library_upload && permissions?.get_account_video_library_permissions">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="video" title="" aria-hidden="true"></span>
                    {{translation?.workspace_sharetolibrary}}
                    <!-- {{translation?.vd_copy_to_vl}} -->
                </ng-template>
                <ul class="inset-area clear-list files-list">

                    <li>

                        <label class="checkboxcls"> {{translation?.workspace_sharetolibrary}}
                            <input name="account_folder_id" id="account_folder_name" type="checkbox"
                                [(ngModel)]="CopyData.LibrarySelected">
                            <span class="checkmark"></span>
                        </label>

                        <!-- <label class="ui-checkbox model">
                            <input class="copyFiles_checkbox" name="account_folder_id" id="account_folder_name"
                                type="checkbox" [(ngModel)]="CopyData.LibrarySelected">
                        </label>
                        <label for="account_folder_name">
                           
                            {{translation?.vd_copy_to_vl}} 
                        </label> -->
                    </li>
                </ul>
            </tab>
            <tab (selectTab)="currentCopyTab=2" *ngIf="CopyData.all_accounts.length>0">
                <ng-template tabHeading><span class="oi" data-glyph="people" title=""
                        aria-hidden="true"></span>{{translation?.share_to}}
                    {{CopyData.all_accounts.length>1?translation?.vd_account:translation?.vd_workspace}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform hu_search">
                        <input id="input-filter" placeholder="{{translation?.vd_search_huddles}}" class="filterinput"
                            type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchAccountText"
                            (ngModelChange)="onSearchAccountChange($event)">
                        <div id="cancel-btn" type="text"
                            style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; "
                            class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let account of CopyData.all_accounts; let i=index" [hidden]="!account.valid">

                            <label class="checkboxcls"> {{account.company_name}} -
                                <b>{{translation?.header_list_worksapce}}</b>
                                <input name="account_folder_id" class="copyFiles_checkbox" [attr.id]="'account'+i"
                                    type="checkbox" [(ngModel)]="account.selected">
                                <span class="checkmark"></span>
                            </label>
                            <!-- <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'account'+i" type="checkbox"
                                    [(ngModel)]="account.selected">
                            </label>
                            <label [attr.for]="'account'+i">
                                <a class="copy_link"> {{account.company_name}} -
                                    <b>{{translation?.vd_workspace}}</b></a>
                            </label> -->
                        </li>
                        <li *ngIf="CopyData?.accounts_matched==0">
                            {{translation?.vd_no_accounts}} </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer ">
        <div class="text-left copy_comments col-7" *ngIf="currentCopyTab!=1 && comments.length>0">

            <label class="checkboxcls"> {{translation?.share_comments_tags_attachments}}
                <input [(ngModel)]="CopyData.CopyComments" id="copy_comments" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <!-- <input type="checkbox" [(ngModel)]="CopyData.CopyComments" id="copy_comments">
            <label for="copy_comments"> 
                
                {{translation?.vd_copy_comments}}
             </label> -->
        </div>
        <div class="text-right model-btns col-5">
            <a class="simple_btn" (click)="ResolveCopyVideo(0)">{{translation?.vd_cancel}}</a>
            <a class="green" (click)="ResolveCopyVideo(1)" [style.backgroundColor]="primery_button_color">
                {{translation?.workspace_share}}
                <!-- {{translation?.vd_ok}} -->
            </a>
        </div>
    </div>
</ng-template>
<ng-template #cropDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.vd_crop_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCropModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-crop-video-player (CropIsPlaying)="CropIsPlaying=$event" (CropVideoTotalTime)="CaptureTotalTime($event)"
            [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses"
            [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event"></app-crop-video-player>
        <div>
            <span>{{cropStartValue}}</span>
            <span style="float: right;">{{cropEndValue}}</span>
        </div>
        <nouislider *ngIf="videoEnd" [config]="cropRangeSliderConfig" [(ngModel)]="cropRange"
            (ngModelChange)="onCropSliderChange($event)"></nouislider>
        <div>
            <span>00:00</span>
            <span style="float: right;">{{videoEnd}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="hideCropModal()">{{translation?.vd_cancel}}</a>
            <a class="blue" (click)="CropPreviewVideo()">{{translation?.vd_preview_video}}</a>
            <a class="green" (click)="TrimVideo()"
                [style.backgroundColor]="primery_button_color">{{translation?.vd_trim}}</a>
        </div>
    </div>
</ng-template>
<ng-template #commentEndTimePopup>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div> -->
        <info-red-svg class="info-red-svg"></info-red-svg>
        <span>{{translation?.end_time_is_less_than_start_time}}</span>
        <!-- </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()"
            style="background-color: rgb(61, 171, 40); color: #ffffff;">OK</button>
    </div>
</ng-template>