<div class="sibme_coaching">
	<p>
		
		<a *ngIf="details?.is_change_account_enable==1" [attr.href]="details?.base_url+'/launchpad'" tooltip={{translations?.change_account}} placement="bottom">
			{{details?.user_current_account?.accounts?.company_name}}
			<img width="19" height="19" src="./assets/img/new/icon-switch-account.svg" class="non_gry" />
			<img width="19" height="19" src="./assets/img/new/icon-switch-account_gry.svg" class="gry" />

		</a>
		<a *ngIf="details?.is_change_account_enable!=1 && !details?.user_current_account?.accounts?.in_trial" placement="bottom" tooltip={{translations?.change_account}}>
			{{details?.user_current_account?.accounts?.company_name}}

		</a>

		<a *ngIf="details?.is_change_account_enable!=1 && details?.user_current_account?.accounts?.in_trial" placement="bottom" tooltip={{translations?.change_account}}>
			{{details?.user_current_account?.accounts?.company_name}}

		</a>
	</p>
	<trial-message [details]="details"> </trial-message>
</div>