.folder_row_box {
    border-top: solid 1px #f0f0f0;
    padding: 12px 0px;
    margin: 0 -20px;
}

.animate_box_19 {
    height: 40px;
    width: 5%;
    display: inline-block;
    margin-right: 4px;
}

.animate_box_20 {
    height: 40px;
    width: 60.8%;
    display: inline-block;
    margin-right: 4px;
}

.animate_box_21 {
    height: 40px;
    width: 15%;
    display: inline-block;
    margin-right: 4px;
}
.animate_box_22 {
    height: 40px;
    width: 5%;
    display: inline-block;
    margin-right: 4px;
}

.animate_box_23 {
    height: 40px;
    width: 5%;
    display: inline-block;
    margin-right: 4px;
}

.animate_box_24 {
    height: 40px;
    width: 5%;
    display: inline-block;
    margin-right: 4px;
}