<div class="animate_box_9">
	<div class="animate_box_13 animate_me" style="height: 25px;"></div>
	<div class="animate_box_13 animate_me"></div>
	<div class="animate_box_13 animate_me" style="height: 2px;"></div>
	<div class="animate_box_13 animate_me"></div>
	<div class="animate_box_15 animate_me" style="margin-left: 0px;"></div><div class="animate_box_15 animate_me"></div><div class="animate_box_15 animate_me"></div><div class="animate_box_15 animate_me"></div>
	<div style="height: 133px;"></div>
	<div class="box_footer"><div class="animate_box_11 animate_me"></div><div class="animate_box_10 animate_me"></div>	</div>	
</div>