<div class="row list_row">
    <div class="col-md-5">
        <a href="{{HrefLink(artifact)}}">
            <div class="thumblist" (click)="goToDetailPage(artifact)">
                <div class="icontype">
                    <img [src]="artifact?.thubnail_url">
                </div>
            </div>
        </a>
        <div class="detail_list">
            <p style="cursor:pointer" tooltip="{{artifact.title}}" (click)="goToDetailPage(artifact)">{{artifact.title | slice:0:38}} <span *ngIf="artifact.title.length>38">...</span></p>
            <div class="huddle_option">
                <a class="chat_cls" tooltip="{{translation?.artifact_comments}}"> <img src="assets/video-huddle/img/comm_icon.svg"> {{artifact?.total_comments}}
                </a>
                <a class="h_att" tooltip="{{translation?.artifact_attachments}}"> <img src="assets/video-huddle/img/attachment_icon.svg"> {{artifact?.total_attachment}} </a>



            </div>

        </div>

    </div>
    <div class="col-md-2">
        <label>{{artifact?.first_name}} {{ artifact?.last_name}}</label>
    </div>
    <div class="col-md-2">
        <label>{{headerService?.formatDate(artifact.created_date, "MMM DD, YYYY")}}</label>
    </div>
    <div class="col-md-3 list_share">

        <a class="share_icon" *ngIf="permissionService?.getPermission(artifact,'copy')" (click)="OpenModel(artifact,'shareNotes')"> <img src="assets/video-huddle/img/icon_arrow.svg"> {{translation.artifact_share}} </a>

        <ng-container *ngIf="permissionService?.getPermission(artifact,'delete')">
            <div class="hu_op dropdown" *ngIf="!(artifact?.mouseEntered || isDropdownOpen)">
                <button type="button">
               <img src="assets/video-huddle/img/dots_dark.svg" width="30">
            </button>
            </div>
            <div class="hu_op dropdown" dropdown *ngIf="artifact?.mouseEntered || isDropdownOpen">
                <span (isOpenChange)="isOpen($event)" dropdown>
               <button type="button" id="button-basic" dropdownToggle>
                  <img src="assets/video-huddle/img/dots_dark.svg" width="30">
               </button>
   
               <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <a class="dropdown-item" (click)="OpenModel(artifact,'rename');">{{translation.artifact_rename}}</a>
                  <!-- <a class="dropdown-item" >Crope</a> -->
                  <!-- <a class="dropdown-item" (click)="OpenModel(artifact,'email');">Email</a> -->
                  <!-- <a *ngIf="permissionService?.getPermission(artifact,'duplicate')" class="dropdown-item" (click)="DuplicateResource(artifact)">{{translation.artifact_duplicate}}</a> -->
                  <!-- <a class="dropdown-item" (click)="DownloadResource(artifact,'download')">{{translation.artifact_download}}</a> -->
                  <!-- <a *ngIf="permissionService?.getPermission(artifact)" class="dropdown-item" (click)="OpenModel(artifact,'delete')">Delete</a> -->
                  <a *ngIf="!detailsService?.artifactObj.submission_date_passed && permissionService?.getPermission(artifact,'delete')" class="dropdown-item" (click)="OpenModel(artifact,'delete')">{{translation.artifact_delete}}</a>
   
               </ul>
            </span>
            </div>
        </ng-container>

    </div>
</div>