<!-- <div class="container box_outer"> -->
<div class="row pan_heading">
    <div class="col-12">
        <h3>{{translation?.people_people_section}}</h3>
    </div>
</div>
<div class="tabs_barcls">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-toggle="tab" [routerLink]="['/people/home/people']" role="tab">{{translation?.people_people_section}}</a>
                </li>
                <li class="nav-item itm2">
                    <a class="active" data-toggle="tab" role="tab">{{translation?.groups_people_section}}</a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
<ng-container *ngIf="!groupsList">

    <div class="people_sec row">
        <div class="addgroup">
            <span class="ggani1 p_ani"></span>
        </div>
    </div>

    <div class=" row group_title">
        <div class="col-md-6">
            <h5 class="ggani2 p_ani"></h5>
        </div>

        <div class="col-md-6 groupclose">
            <span class="ggani3 p_ani"></span>
        </div>


    </div>

    <div class="group_cols">

        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>

        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>
        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>
        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>
        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>
        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>
        <div class="group_row row">

            <div class="col-md-3 gr_1">
                <span class="ggani4 p_ani"></span>
                <span class="ggani5 p_ani"></span>
            </div>
            <div class="col-md-3 gr_2">
                <span class="ggani6 p_ani"></span>
            </div>
            <div class="col-md-5 gr_3"> <span class="ggani7 p_ani"></span></div>
            <div class="col-md-1 gr_4">
                <span class="ggani8 p_ani"></span>
            </div>

        </div>




    </div>


    <div class=" row group_title">
        <div class="col-md-6">
            <h5 class="ggani9 p_ani"></h5>
        </div>

        <div class="col-md-6 groupclose">

            <span class="ggani10 p_ani"></span>




        </div>


    </div>

    <div class=" row group_title">
        <div class="col-md-6">
            <h5 class="ggani9 p_ani"></h5>
        </div>

        <div class="col-md-6 groupclose">

            <span class="ggani10 p_ani"></span>




        </div>


    </div>

</ng-container>
<ng-container *ngIf="groupsList">

        <div class="people_sec row">
                <div class="addgroup">
                    <a (click)="showModal('addGroupModal')" style="color:white;cursor: pointer;"><img src="assets/img/pluswicon.svg"> {{translation?.add_group_people_section}}</a>
                </div>
            </div>
            <div class="p_nouser" *ngIf="groupsList?.length==0">

                <p> <img src="assets/img/no_info.svg">{{translation?.there_is_no_group_exists}}.</p>

            </div>
            <div *ngFor="let group of groupsList ; let groupIndex=index; let first=first " class="ngrep">
                  

                  <div class="gr_option dropdown" dropdown>
                            <button dropdownToggle type="button" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="assets/img/dots_dark.svg" width="30">
                                  </button>
                            <div *dropdownMenu class="dropdown-menu">
                                <a class="dropdown-item" (click)="showModal('renameModal');forChangeGroupName=group?.department_name;groupIdForRename=group?.group_id">{{translation?.poeple_rename}}</a>
                                <a class="dropdown-item" (click)="showModal('deleteModal');deleteGroupId=group.group_id">{{translation?.delete_people_section}}</a>
                            </div>
                        </div>
                        <div class="clear"></div>

                <div (click)="toggleCollaps(group)" class=" row group_title" >

                    <div class="col-md-6">
                        <h5  style="cursor: pointer;"><span tooltip="{{group?.department_name}}">{{group?.department_name}}</span></h5>
                    </div>
                    <div class="col-md-6 groupclose">

                        

                        <span class="expcls">
                                    <button>
                                      <img *ngIf="!group.collapsed" src="assets/img/arrow_up.svg" width="20">
                                      <img *ngIf="group.collapsed" src="assets/img/arrowndown.svg" width="20">
                                    </button>
                                  </span>



                    </div>
                </div>

                <div id="{{group?.group_id}}" [collapse]="group.collapsed">
                    <div>
                        <div class="group_cols">
                            <div class="p_nouser" *ngIf="group?.users?.length==0">

                                <p> <img src="assets/img/no_info.svg">{{translation?.there_is_no_user_in_group}}</p>

                            </div>
                            <div *ngFor="let members of group?.users | paginate: { itemsPerPage: 10, currentPage: group?.page, id: group?.group_id }; let userIndex=index" class="group_row row">
                                <div class="col-md-3 gr_1">

                                    <img src="{{ImageUrlBuilder(members)}}">
                                    <div class="nametip"><span tooltip="{{members?.first_name}} {{members?.last_name}}">{{members?.first_name}} {{members?.last_name}} </span></div>
                                </div>
                                <div tooltip="{{members?.email}}" class="col-md-3 gr_2" style="cursor: pointer;">
                                    {{members?.email}}
                                </div>
                                <div style="cursor: pointer;" *ngIf="members?.role==100" class="col-md-5 gr_3">{{translation?.account_owner_people_section_single}}</div>
                                <div style="cursor: pointer;" *ngIf="members?.role==110" class="col-md-5 gr_3">{{translation?.super_admin_people_section_single}}</div>
                                <div style="cursor: pointer;" *ngIf="members?.role==115" class="col-md-5 gr_3">{{translation?.admin_people_section_single}}</div>
                                <div style="cursor: pointer;" *ngIf="members?.role==120" class="col-md-5 gr_3">{{translation?.user_people_section_single}}</div>
                                <div style="cursor: pointer;" *ngIf="members?.role==125" class="col-md-5 gr_3">{{translation?.viewer_people_section_single}}</div>
                                <div (click)="deleteUserFromGroup(groupIndex, userIndex, members?.user_group_id)" class="col-md-1 gr_4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14.129" viewBox="0 0 14 14.129">
                                        <path id="Path"
                                          d="M7.334,6.5l5.5-5.478a.562.562,0,0,0,0-.795h0a.568.568,0,0,0-.8,0l-5.5,5.475L.964.164a.568.568,0,0,0-.8,0,.562.562,0,0,0,0,.795L5.733,6.5.168,12.041a.562.562,0,0,0,0,.795h0a.568.568,0,0,0,.8,0L6.532,7.3l5.5,5.472a.568.568,0,0,0,.8,0,.562.562,0,0,0,0-.795Z"
                                          transform="translate(0.5 0.564)" stroke="#616161" stroke-miterlimit="10" stroke-width="1"></path>
                                      </svg>
                                </div>
                            </div>


                            <div class="row search_group">
                                <div class="col-md-12">

                                    <ng-select id="select_{{group?.group_id}}" (click)="setSearchUsers(group?.users)" [items]="addMoreUser" bindLabel="userData" bindValue="id" [multiple]="true" placeholder="Search personal name or email" [(ngModel)]="selectedUsers[current_group_id]" [hideSelected]="true" dropdownPosition=bottom
                                    (add)="itemAdded($event, current_group_id)" [virtualScroll]="false" [isOpen]="ngSelectShouldOpen[current_group_id]" [clearOnBackspace]="true" [clearSearchOnAdd]="true" notFoundText="{{translation?.no_user_found_people_section}}" (search)="onSearch($event)" size="default">

                                        <ng-template ng-label-tmp let-item="item">
                                            <img height="15" width="15" [src]="item.url" />
                                            <b>{{item.first_name}} {{item.last_name}}</b>
                                            <button type="button" (click)="removeUser(item)">x</button>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item">
                                            <img height="15" width="15" [src]="item.url" />
                                            <b>{{item.userData}}</b>
                                        </ng-template>

                                    </ng-select>



                                    <button (click)="groupId=group?.group_id;groupNameForUsers=group?.department_name;addNewSearhUser();">{{translation?.poeple_add}}</button>
                                    <a style="cursor: pointer;" (click)="listOfAddMorePeople(group?.users);showModal('addPeopleModal');groupId=group?.group_id;groupNameForUsers=group?.department_name" class="srch">{{translation?.poeple_search_list}}</a>
                                </div>
                            </div>

                            <div *ngIf="group?.users?.length>10" class="p_page">
                                <pagination-controls id="{{group?.group_id}}" previousLabel="<" nextLabel=">" (pageChange)="group.page = $event"></pagination-controls>
                            </div>

                            <!-- <div *ngIf="newUsers?.length>10" class="p_page">
                                      <pagination-controls id="newUsers" previousLabel="<" nextLabel=">" (pageChange)="pU = $event"></pagination-controls>
                                   </div>  -->



                        </div>
                    </div>
                </div>



            </div>

</ng-container>


<!-- </div> -->

<!--add group modal start-->

<div bsModal #addGroupModal="bs-modal" id="group_createpop" class="modal fade" role="dialog" aria-labelledby="addGroupModal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="max-width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translation?.create_group_people_section}}</h4>
                <button (click)="hideModal('addGroupModal')" type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body add_people_pop">

                <div class="create_name">
                    <label>{{translation?.group_name_people_section}}</label>
                    <input type="text" [(ngModel)]="groupName" #search_group>
                </div>



                <div class="group_error" *ngIf="noUserState">
                    <img src="assets/img/alert_ic.svg"> {{translation?.poeple_groups_need_to_have}}
                </div>

                <div class="p_nouser" *ngIf="allMembers?.length==0">

                    <p> <img src="assets/img/no_info.svg">{{translation?.poeple_no_user_exists}}</p>

                </div>


                <div *ngIf="allMembers?.length>0" class="row">

                    <div class="col-12 pe_search">

                        <input type="text" placeholder="{{translation?.poeple_search_placeholder}}" [(ngModel)]="memberSearch">
                        <img *ngIf="memberSearch?.length>0"  src="assets/img/x.svg" (click)="memberSearch=''">
                    </div>

                    <div *ngIf="selectAll && !(allMembers | groupSearch:memberSearch:'full_name,first_name,last_name,email')?.length==0" class="col-12 all_select">
                        <a (click)="selectAllMembers()">{{translation?.poeple_select_all}}</a>
                    </div>
                    <div *ngIf="deSelectAll" class="col-12 all_select">
                        <a (click)="deselectAllMembers()">{{translation?.poeple_deselect_all}}</a>
                    </div>
                    <ng-container *ngIf="!allMembers">

                        <div class="row people_rw">


                            <div class="col-md-4">
                                <span class="ggani11 p_ani"></span>

                                <span class="ggani12 p_ani"></span>
                                <span class="ggani13 p_ani"></span>

                            </div>

                            <div class="col-md-5">
                                <span class="ggani14 p_ani"></span>
                            </div>

                            <div class="col-md-3">
                                <span class="ggani15 p_ani"></span>
                            </div>




                        </div>

                    </ng-container>


                    <div class="p_nouser" *ngIf="(allMembers | groupSearch:memberSearch:'full_name,first_name,last_name,email')?.length==0 && memberSearch!=''">

                        <p> <img src="assets/img/no_info.svg">{{translation?.poeple_no_user_found}}</p>

                    </div>



                </div>

                <div *ngFor="let member of allMembers | groupSearch:memberSearch:'full_name,first_name,last_name,email' | paginate: { itemsPerPage: 10, currentPage: pV, id: 'allMembers' }">
                    <div class="row people_rw">


                        <div class="col-md-4">
                            <label class="checkboxcls">
                                  <input type="checkbox" [(ngModel)]="member.selected" (change)="checkSelectedUsers($event)">
                                  <span class="checkmark"></span>
                                </label>

                            <img src="{{ImageUrlBuilder(member)}}" >{{member?.first_name}} {{member?.last_name}} 

                        </div>

                        <div class="col-md-5" tooltip="{{member?.email}}">
                            {{member?.email}}
                        </div>

                        <div class="col-md-3">
                            <div *ngIf="member?.role==100">{{translation?.account_owner_people_section_single}}</div>
                            <div *ngIf="member?.role==110">{{translation?.super_admin_people_section_single}}</div>
                            <div *ngIf="member?.role==115">{{translation?.admin_people_section_single}}</div>
                            <div *ngIf="member?.role==120">{{translation?.user_people_section_single}}</div>
                            <div *ngIf="member?.role==125">{{translation?.viewer_people_section_single}}</div>
                        </div>




                    </div>
                </div>

                <div *ngIf="(allMembers | groupSearch:memberSearch:'first_name,last_name,email')?.length > 10" class="p_page">
                    <pagination-controls id="allMembers" previousLabel="<" nextLabel=">" (pageChange)="pV = $event"></pagination-controls>
                </div>






            </div>

            <div class="modal-footer footer_modal mb2">
                <div class="clear"></div>
                <div class="row">

                    <div class="col-6">



                    </div>



                    <div class="col-6 tright pr0">
                        <button (click)="hideModal('addGroupModal')" type="button" class="btn btn-default" data-dismiss="modal">{{translation?.vd_cancel}}</button>
                        <button *ngIf="(allMembers | groupSearch:memberSearch:'full_name,first_name,last_name,email')?.length!=0" (click)="addGroupFlag=true;addGroup()" [class.disabled]="addGroupFlag ? true : null" type="button" class="btn btn-success">{{translation?.poeple_add}}</button>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

<!--add group modal end-->

<!--rename modal start-->

<div bsModal #renameModal="bs-modal" id="rename_hu" class="modal fade" role="dialog" aria-labelledby="renameModal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="max-width:480px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translation?.poeple_rename}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideModal('renameModal')">&times;</button>

            </div>
            <div class="modal-body">
                <div class="p_del_name">
                    <p>{{translation?.poeple_rename}}</p>
                    <input type="text" class="form-control" [(ngModel)]="forChangeGroupName">
                </div>

            </div>
            <div class="modal-footer p_footer">
                <div class="col-12">
                    <a (click)="hideModal('renameModal')">{{translation?.vd_cancel}}</a>
                    <a class="green_btn" style="color:white;cursor: pointer;" (click)="renameGroup()">{{translation?.poeple_done_btn}}</a>

                </div>


            </div>
        </div>

    </div>
</div>
<!--rename modal end-->

<!--delete modal start-->
<div bsModal #deleteModal="bs-modal" id="delete_huddle" class="modal fade" role="dialog" aria-labelledby="deleteModal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="max-width:480px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translation?.poeple_confirmation_required}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideModal('deleteModal')">&times;</button>

            </div>
            <div class="modal-body">
                <div class="palert_bg row">
                    <div class="col-2">
                        <img src="assets/img/alert_i.svg">
                    </div>
                    <div class="col-10">
                        <h6>{{translation?.are_you_sure_want_to_delete_group_people_section}}</h6>

                    </div>
                </div>
                <!-- <div class="p_del_name">
                        <p>Type DELETE to confirm</p>
                         <input type="text" class="form-control">
                         </div> -->

            </div>
            <div class="modal-footer p_footer">
                <div class="col-12">
                    <a (click)="hideModal('deleteModal')">{{translation?.vd_cancel}}</a>
                    <a class="conf_delete" (click)="deleteGroup()">{{translation?.delete_people_section}}</a>

                </div>


            </div>
        </div>

    </div>
</div>
<!--delete modal end-->

<!--add people modal start-->
<div bsModal #addPeopleModal="bs-modal" id="group_addpeople" class="modal fade" role="dialog" aria-labelledby="addPeopleModal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="max-width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{translation?.poeple_add_people}}</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideModal('addPeopleModal')">&times;</button>

            </div>

            <div class="p_nouser" *ngIf="newUsers.length==0">

                <p> <img src="assets/img/no_info.svg">{{translation?.poeple_no_user_exists}}.</p>

            </div>

            <div *ngIf="newUsers.length>0" class="modal-body add_people_pop">

                <div class="row">

                    <div class="col-12 pe_search">

                        <input type="text" placeholder="{{translation?.poeple_search_placeholder}}" [(ngModel)]="newUsersSearch">
                        <img  *ngIf="newUsersSearch?.length>0"  src="assets/img/x.svg" (click)="newUsersSearch=''">
                    </div>

                    <div *ngIf="selectAllUsers && !(newUsers | groupSearch:newUsersSearch:'full_name,first_name,last_name,email')?.length==0" class="col-12 all_select">
                        <a (click)="selectAllRemainingUsers()">{{translation?.poeple_select_all}}</a>
                    </div>
                    <div *ngIf="deSelectAllUsers" class="col-12 all_select">
                        <a (click)="deSelectAllRemainingUsers()">{{translation?.poeple_deselect_all}}</a>
                    </div>

                    <div class="p_nouser" *ngIf="(newUsers | groupSearch:newUsersSearch:'full_name,first_name,last_name,email')?.length==0">

                        <p> <img src="assets/img/no_info.svg">{{translation?.poeple_no_user_found}}.</p>

                    </div>


                </div>

                <div *ngFor="let user of newUsers | groupSearch:newUsersSearch:'full_name,first_name,last_name,email' | paginate: { itemsPerPage: 10, currentPage: pU, id: 'newUsers' }">
                    <div class="row people_rw">


                        <div class="col-md-4">
                            <label class="checkboxcls">
                                          <input type="checkbox" [(ngModel)]="user.selected">
                                          <span class="checkmark"></span>
                                  </label>

                            <img src="{{ImageUrlBuilder(user)}}" >{{user?.first_name}} {{user?.last_name}}

                        </div>

                        <div class="col-md-5" tooltip="{{user?.email}}">

                            {{user?.email}}

                        </div>
                        <div class="col-md-3">
                            <div *ngIf="user?.role==100">{{translation?.account_owner_people_section_single}}</div>
                            <div *ngIf="user?.role==110">{{translation?.super_admin_people_section_single}}</div>
                            <div *ngIf="user?.role==115">{{translation?.admin_people_section_single}}</div>
                            <div *ngIf="user?.role==120">{{translation?.user_people_section_single}}</div>
                            <div *ngIf="user?.role==125">{{translation?.viewer_people_section_single}}</div>
                        </div>




                    </div>
                </div>


                <div *ngIf="(newUsers | groupSearch:newUsersSearch:'full_name,first_name,last_name,email')?.length > 10" class="p_page">
                    <pagination-controls id="newUsers" previousLabel="<" nextLabel=">" (pageChange)="pU = $event"></pagination-controls>
                </div>

            </div>

            <div class="modal-footer footer_modal mb2">
                <div class="clear"></div>
                <div class="row">

                    <div class="col-6">



                    </div>



                    <div class="col-6 tright pr0">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hideModal('addPeopleModal')">{{translation?.vd_cancel}}</button>
                        <button *ngIf="(newUsers | groupSearch:newUsersSearch:'full_name,first_name,last_name,email')?.length!=0" [class.disabled]="addGroupFlag ? true : null" type="button" class="btn btn-success" (click)="addUserInGroup()">{{translation?.poeple_add}}</button>
                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

<!--add people modal end-->