.simple_row_box {
    border-top: solid 1px #f0f0f0;
    padding: 12px 0px;
    margin: 0 -10px 0 -20px;
}
.animate_box_26 {
    height: 40px;
    width: 34.6%;
    display: inline-block;
    margin-right: 3px;
}

.animate_box_21 {
    height: 40px;
    width: 15%;
    display: inline-block;
    margin-right: 3px;
}

.animate_box_25 {
    height: 40px;
    width: 7%;
    display: inline-block;
    margin-right: 3px;
}

.animate_box_19 {
    height: 40px;
    width: 5%;
    display: inline-block;
    margin-right: 3px;
}

.animate_box_19 {
    height: 40px;
    width: 5%;
    display: inline-block;
    margin-right: 3px;

}

.animate_box_21 {
    height: 40px;
    width: 15%;
    margin-right: 3px;
    display: inline-block;
}

.animate_box_19 {
    height: 40px;
    width: 5%;
    margin-right: 3px;
    display: inline-block;
}

.animate_box_19 {
    height: 40px;
    width: 5%;
    margin-right: 3px;
    display: inline-block;
}

.animate_box_19 {
    height: 40px;
    width: 5%;
    margin-right: 3px;
    display: inline-block;
}

