.home_screen h3{color: #2b9945;    text-align: center; line-height: 34px; font-weight: 600;}
.home_screen p{color: #8d929d; text-align: center;     margin: 40px 0;}
.home_screen label{   color: #868484;
    margin: 20px 0 15px 0;
    font-size: 19px;
    display: block;
    text-align: center;
    font-weight: 500;}
   

  
    
    .home_screen p.free_d{    color: #27a745;
    margin: 53px 0 10px 0;}
    