
.tgright {
    float: right;
    width: 411px;
    padding-right: 10px;
}

.clear {
    clear: both;
}

.tgouter {
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 2px 12px 1px 5px;
    margin-left: 6px;
    vertical-align: top;
    margin-bottom: 4px;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

    .cross_span {
    position: absolute;
    top: 0px;
    right: 2px; cursor: pointer;
}
.tag_rounded {    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;}