<div class="inner_h over_hidden">
  <div class="thumb_hu animate_me">



  </div>


  <div class="huddle_detail">

    <div class="hu_video">
      <label class="animate_me lineane"></label>
    </div>
    <div class="hu_op dropdown">

      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">{{translation?.workspace_rename}}</a>
        <a class="dropdown-item" href="#">{{translation?.workspace_crop}}</a>
        <a class="dropdown-item" href="#">{{translation?.workspace_duplicate}}</a>
        <a class="dropdown-item" href="#">{{translation?.workspace_download}}</a>
        <a class="dropdown-item" href="#">{{translation?.workspace_delete}}</a>


      </div>

    </div>
    <div class="clear"></div>
    <p class="h_by animate_me lineane"></p>
    <p class="h_date animate_me lineane"></p>

    <div class="huddle_option animate_a">
      <a class="chat_cls animate_me" href=""></a>
      <a class="h_att animate_me" href=""> </a>

      <a class="arrow_cls animate_me" href="#"> </a>

    </div>


  </div>


</div>