<div class="animate_box_9">
		<div class="floatLeft_box"><div class="animate_box_12 animate_me"></div></div>
		<div class="floatRight_box"><div class="animate_box_13 animate_me"></div>
		<div class="animate_box_13 animate_me"></div>
		<div class="animate_box_13 animate_me"></div></div>
		<div class="clear"></div>
		<div class="animate_box_10 animate_me"></div>
		<div class="animate_box_11 animate_me"></div><div class="animate_box_14 animate_me"></div>
		<div class="animate_box_10 animate_me"></div>
		<div class="animate_box_11 animate_me"></div><div class="animate_box_14 animate_me"></div>
		<div class="animate_box_10 animate_me"></div>
		<div class="animate_box_11 animate_me"></div><div class="animate_box_14 animate_me"></div>
</div>