/* .thumblist{
    height: 53px; 
    width: 23%;
} */

/* .huddlelist_view{
    height: 53px;
    width: 23%;
} */

.dot_ani{
    height: 10px;
}

.dot_ani2{
    height: 10px;
}

.lineane{
    height: 12px;
}

.huddle_option span.animate_me{
    margin-right: 2%;
}