<div id="main" class="container box" (window:beforeunload)="confirmExit($event)" *ngIf="isAuthenticatedUser">
    <div class="analy_b">
        <div class="header_an">
            <h2>{{VideoInfo?.title}}</h2>
        </div>
        <div class="video_body">
            <tabset #staticTabs>
                <tab (selectTab)="selectTab(0)" *ngIf="true">
                    <ng-template tabHeading>
                        {{translation?.myfile_notes}} <span class="badge badge-primary">{{totals.comment_count}}</span>
                    </ng-template>
                </tab>
                <tab (selectTab)="selectTab(1)" *ngIf="true">
                    <ng-template tabHeading>
                        {{translation?.myfile_attachments}} <span class="badge badge-primary">{{staticFiles.length}}</span>
                    </ng-template>
                </tab>
                <tab (selectTab)="selectTab(2)" *ngIf="permissions?.rubric_check">
                    <ng-template tabHeading>
                        <ng-container *ngIf="VideoInfo.h_type==3"> Rubric </ng-container>
                        <ng-container *ngIf="VideoInfo.h_type!=3"> Framework </ng-container>
                    </ng-template>
                </tab>
                <tab (selectTab)="selectTab(3)" *ngIf="permissions?.coaching_perfomance_level && permissions?.rubric_check && userAccountLevelRoleId != '125'  && userAccountLevelRoleId != '120'">
                    <ng-template tabHeading>
                        {{translation?.performance_level}}
                    </ng-template>
                </tab>
            </tabset>
            <div class="tab-content">
                <div class="row" *ngIf="currentTab != 3">
                    <div class="col-md-6">
                        <a *ngIf="CurrentTab == 0" [attr.href]="GetUrl()" class="all-observations">{{translation?.myfile_back_to_videos}}</a>
                        <div>
                        </div>
                        <div class="fake_player" *ngIf="enabledLoad && !scriptMode">
                            <ng-container *ngIf="options?.status=='recording'">
                                <div class="row">
                                    <div class="pull-left col-sm-10">
                                        <span class="custom_tag animated fadeIn infinite" style="border-color:transparent;background-color:rgb(223, 10, 0)"></span>{{translation?.myfile_live_recording}}
                                    </div>
                                    <div class="pull-right">
                                        {{options?.current_time}}
                                    </div>
                                </div>
                                <span class="player_icon animated">
                                    <span class="oi" data-glyph="video"></span>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="options?.status=='uploading'">
                                <div class="uploading_wrapper" [style.width.%]="options.upload_progress">
                                </div>
                                <span> {{translation?.myfile_uploading}} {{options?.upload_progress}}% </span>
                            </ng-container>
                            <ng-container *ngIf="options?.status=='paused'">
                                <div class="uploading_wrapper" [style.width.%]="options.upload_progress">
                                </div>
                                <span>
                                    <span class="oi" data-glyph="media-pause"></span>
                                <span class="pause_wrapper">
                                        {{translation?.myfile_pause}} ({{options?.upload_progress}}%)
                                    </span>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="options?.status=='canceled'">
                                <div class="uploading_wrapper" [style.width.%]="options.upload_progress">
                                </div>
                                <span>
                                    <span class="oi custom-cancel-icon" data-glyph="plus"></span>
                                <span class="pause_wrapper">
                                        {{translation?.myfile_pause}}
                                    </span>
                                </span>
                            </ng-container>
                        </div>
                        <div class="video_info_main" *ngIf="isVideoProcessing">
                            <div class="video_options btn-group" dropdown>
                                <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" (click)="closeInfo();">
                                    <img src="assets/img/dot.svg">
                                </div>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem">
                                        <span class="dropdown-item disabled">{{translation?.myfile_copy}}</span>
                                    </li>
                                    <li role="menuitem" *ngIf="!isCroLoading">
                                        <span class="dropdown-item disabled">{{translation?.myfile_crop}}</span>
                                    </li>
                                    <li role="menuitem" *ngIf="isCroLoading">
                                        <span class="dropdown-item disabled">{{translation?.myfile_processing}} <span
                                                class="oi animated rotateIn infinite" data-glyph="loop-circular"></span>
                                        </span>
                                    </li>
                                    <li role="menuitem">
                                        <span class="dropdown-item disabled">{{translation?.myfile_delete}}</span>
                                    </li>
                                    <li role="menuitem">
                                        <span class="dropdown-item disabled">{{translation?.myfile_download}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="video_info" [class.filled]="ShowInfo" (click)="ShowInfo=!ShowInfo">
                                {{translation?.myfile_info}}</div>
                            <span class="iconic iconic-plus iconic-sm" title="plus" aria-hidden="true"></span>
                            <span class="iconic iconic-plus iconic-md" title="plus" aria-hidden="true"></span>
                            <span class="iconic iconic-plus iconic-lg" title="plus" aria-hidden="true"></span>
                            <div class="clear"></div>
                        </div>
                        <div class="add_comment" [style.backgroundColor]="EditMode?'#fcf9d1':'transparent'" [style.padding]="EditMode?'6px':'0'">
                            <div class="row comm_top">
                                <div class="col-md-6">
                                    <label>{{EditMode? translation?.myfile_update_note : translation?.myfile_new_note}}</label>
                                </div>
                                <div class="col-md-6 comm_time">
                                    <span style="position: relative;top: 10px;color: #212529;">{{comment_start_time_string}}</span>
                                </div>
                            </div>
                            <div class="comment_box">
                                <audio-recorder-play *ngIf="!newComment.commentText && (!EditMode || (EditMode && newComment.ref_type!=6))" [localAudioData]="localAudioData" [autoSaveAudio]="autoSaveAudio" (currentState)="currentState($event)" (audioPath)="audioPath($event)"></audio-recorder-play>
                                <textarea *ngIf="!EditMode && (audioRecorderState === 'comfortZone' || audioRecorderState === 'recording')" [(ngModel)]="newComment.commentText" (keyup)="TriggerTextChangeKeyup($event)" [placeholder]="translation?.myfile_add_a_note" (click)="closeInfo(1,0,2)" (keydown)="TriggerTextChange($event)"></textarea>
                                <textarea *ngIf="EditMode && newComment.ref_type!=6 && (audioRecorderState === 'comfortZone' || audioRecorderState === 'recording')" [(ngModel)]="newComment.commentText" (keyup)="TriggerTextChangeKeyup($event)" [placeholder]="translation?.myfile_add_a_note" (click)="closeInfo(1,0,2)" (keydown)="TriggerTextChange($event)"></textarea>
                                <div  *ngIf="EditMode && newComment.ref_type==6"  class="audio-recorder-play-wrapper">
                                    <div class="audio-container">
                                        <audio controls #audioPlayer>
                                            <source [src]="newComment.audioUrl != '' ? newComment.audioUrl : newComment.commentText">
                                            {{translation?.vd_your_browser_does_not}} 
                                        </audio> 
                                        <div  class="cancel-audio" (click)="cancel()">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                id="Capa_2" x="0px" y="0px" width="15px" height="15px" viewBox="0 0 47.971 47.971"
                                                style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve" fill="#757474">
                                                <g>
                                                    <path
                                                        d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_tags">
                                    <div class="tags_icons fake_link" (click)="mainService.FocusCustomTag();closeInfo(1,0,2);" style="transform: rotate(86deg);">
                                        <span class="oi" data-glyph="tag"></span>
                                    </div>
                                    <div class="plusicon fake_link" (click)="mainService.FocusCustomTag();closeInfo();">
                                        <span class="oi" data-glyph="plus"></span>
                                    </div>
                                    <custom-tags [predefinedTags]="tags" (Tags)="SetCustomTags($event)"></custom-tags>
                                    <div class="clear"></div>
                                </div>
                                <div class="comment_tags" *ngIf="permissions?.rubric_check">
                                    <div class="tags_icons fake_link" (click)="ActivateTab(2);closeInfo();">
                                        <img src="assets/img/list-2x.png">
                                    </div>
                                    <div class="plusicon fake_link" (click)="ActivateTab(2);closeInfo();">
                                        <span class="oi" data-glyph="plus"></span>
                                    </div>
                                    <span *ngFor="let rubric of selectedRubrics; let i=index" [ngClass]="{'tag_adjusted':i>0}" class="tag_rounded full_width">
                                        {{rubric.tag_code}} {{rubric.tag_html}}<span class="pull-right cross_span"
                                            (click)="closeInfo();RemoveSelectedRubric(rubric,i)"> x </span> </span>
                                    <div class="clear"></div>
                                </div>
                                <fs-uploader (click)="closeInfo(1,0,2);" [label]="translation?.myfile_upload" [source]="'comment'" [configuration]="videoOptions" (onUpload)="AppendNewFiles($event)"></fs-uploader>
                                <span *ngFor="let file of newComment.files; let i=index" [ngClass]="{'tag_adjusted':i>0}" class="tag_rounded full_width marg_top">
                                    <span>
                                        {{file.filename || file.title}}
                                    </span>
                                <span class="pull-right cross_span" (click)="closeInfo();RemoveFileFromComment(file, i)">
                                        x
                                    </span>
                                </span>
                            </div>
                            <div class="comm_option" *ngIf="permissions?.AllowCustomMarkers">
                                <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                    <span [style.backgroundColor]="getMarkerBg(marker, i)" class="custom_tag" [style.borderColor]="[colorClasses[i]]" (click)="ChooseCustomTag(marker)"></span>
                                    <span (click)="ChooseCustomTag(marker)"> {{marker.tag_title}} </span>
                                </ng-container>
                            </div>
                            <div class="add_comm">
                                <div class="btn-group" dropdown>
                                    <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" (click)="closeInfo();">
                                        <img src="assets/img/dot.svg">
                                    </div>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu settingsMenu" role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem" (click)="ToggleEnterPost()" class="fake_link" style="width: 100%;">
                                            <span class="dropdown-item">{{translation?.myfile_press_enter}}
                                                <span *ngIf="settings.EnterToPost" class="oi pull-right"
                                                    data-glyph="check" title="" aria-hidden="true">
                                                </span>
                                            </span>
                                        </li>
                                        <li role="menuitem" (click)="TogglePause()" class="fake_link" style="width: 100%;">
                                            <span class="dropdown-item">{{translation?.myfile_pause_video}} <span
                                                    *ngIf="settings.PauseWhileTyping" class="oi pull-right"
                                                    data-glyph="check" title="" aria-hidden="true">
                                                </span> </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add_comm_btn" *ngIf="!EditMode">
                                    <a  [class.disable-container]="audioRecorderState === 'uploading'" class="fake_link" (click)="AddTextComment()" [style.backgroundColor]="primery_button_color">{{translation?.myfile_add}}</a>
                                </div>
                                <div class="add_comm_btn" *ngIf="EditMode">
                                    <a class="simple_btn" (click)="EditTextComment(0)">{{translation?.myfile_cancel}}</a>
                                    <a class="fake_link" (click)="EditTextComment(1)" [style.backgroundColor]="primery_button_color">{{translation?.myfile_update}}</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="currentTab==0">
                        <button class="btn btn-success form-control" *ngIf="EnablePublish" (click)="PublishFeedback(confirmPublishDialog)" [style.marginBottom.px]="10">{{translation?.myfile_myfile_publish_feedback}}</button>
                        <search-form [permissions]="permissions" [autoscroll]="settings.autoscroll" [VideoInfo]="VideoInfo" [customMarkers]="CustomMarkers" [params]="params" (settingsChanged)="ApplySettings($event)" [classes]="colorClasses"></search-form>
                        <div class="comm_outer marg_top_10" size="7px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000" height="600px" id="slimscroll" slimScroll>
                            <ng-container *ngFor="let comment of comments; let i=index;">
                                <comment [parent]="'syncNote'" [EditMode]="EditMode" [VideoInfo]="VideoInfo" [permissions]="permissions"
                                    [index]="i" [staticFiles]="staticFiles" [settings]="settings"
                                    (onDelete)="onCommentDelete($event)" (onEdit)="onCommentEdit($event)"
                                    [isActive]="currentComment == comment" [attr.id]="'comment_'+i"
                                    [customMarkers]="CustomMarkers" [classes]="colorClasses" *ngIf="comment.valid"
                                    [comment]="comment" [params]="params" (onReplyEdit)="onReplyEdit($event)"
                                    (onAdd)="OnCommentAdded($event)"> 
                                </comment>
                            </ng-container>
                            <div class="text-center animated fadeIn no-comment-found" *ngIf="getValidCommentCount()<=0">
                                {{translation?.myfile_no_note_match}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="currentTab==1">
                        <div class="row btn_resources_upload_wrapper">
                            <div class="add_comm_btn col-sm-12">
                                <fs-uploader [label]=translation?.myfile_upload [source]="'resources'" [configuration]="videoOptions" (onUpload)="GetNewFiles($event)"></fs-uploader>
                            </div>
                        </div>
                        <table class="table table-hover resources" *ngIf="staticFiles.length>0">
                            <thead>
                                <tr>
                                    <th>
                                        {{translation?.myfile_time}}
                                    </th>
                                    <th>
                                        {{translation?.myfile_file}}
                                    </th>
                                    <th class="text-right">
                                        {{translation?.myfile_actions}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of staticFiles">
                                    <td class="clickable" style="width: 90px;" (click)="Seek(file.time)">
                                        <span *ngIf="file?.time!=0"> {{getFileTime(file)}} </span>
                                        <span *ngIf="file?.time<=0 || !file?.time"> {{translation?.myfile_all_videos}}
                                        </span>
                                    </td>
                                    <td class="clickable" (click)="FileClicked('td', file)">
                                        <span class="oi file_icon" data-glyph="file"></span> <span class="file_name" title="{{file?.title}}">{{file?.title}}</span>
                                    </td>
                                    <td *ngIf="file.id">
                                        <div class="video_options btn-group" dropdown>
                                            <div id="button-basic" dropdownToggle class="comm_options dropdown-toggle" aria-controls="dropdown-basic" (click)="closeInfo();">
                                                <img src="assets/img/dot.svg">
                                            </div>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                <li role="menuitem" class="fake_link" *ngIf="currnetUser.id == file.created_by">
                                                    <span class="dropdown-item" (click)="InitiateDeleteResource(confirmDialog, file)">{{translation?.myfile_delete}}</span>
                                                </li>
                                                <li role="menuitem" class="fake_link" (click)="FileClicked('li', file)">
                                                    <span class="dropdown-item">{{translation?.myfile_download}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td *ngIf="!file.id">
                                        {{translation?.myfile_uploading}}...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6" *ngIf="currentTab==2">
                        <ng-container *ngIf="permissions?.framework_selected_for_video!=1">
                            <div class="preview_container ch_frame" *ngIf="getSelectFrameworkPermission()">
                                <div class="ch_text">
                                    Choose a framework from the dropdown below. If you can’t find the framework you’re looking for, please contact your account owner.
                                </div>
                                <select class="form-control" [(ngModel)]="VideoHuddleFramework" (ngModelChange)="GetRubricById($event, true)">
                                    <option [attr.value]="0"> Select Framework </option>
                                    <option *ngFor="let framework of frameworks"
                                        [attr.value]="framework.account_tag_id">
                                        {{framework.tag_title}}
                                    </option>
                                </select>
                                <ng-container *ngIf="rubricPreview">
                                    <div [style.margin-top.px]="0" size="7px" transition="0.2" railVisible="true" railOpacity="0.2" railColor="#000" height="385px" id="slimscroll" slimScroll>
                                        <rubrics [data]="rubricPreview" [previewMode]="true"></rubrics>
                                    </div>
                                    <div class="text-right pull-from-top">
                                        <button class="btn btn-default" (click)="AssignFramework(confirmFrameworkSet, 0)"> Cancel </button>
                                        <button [disabled]="!VideoHuddleFramework" class="btn btn-success" (click)="AssignFramework(confirmFrameworkSet, 1)" [style.backgroundColor]="primery_button_color"> Use Framework </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div *ngIf="!getSelectFrameworkPermission()" class="text-center">
                                You must define a framework before frameworks can be enabled here. Please contact your account owner to enable frameworks.
                            </div>
                        </ng-container>
                        <ng-container *ngIf="permissions?.framework_selected_for_video==1">
                            <input type="text" placeholder="Search framework standards" class="form-control" [(ngModel)]="term">
                            <rubrics [term]="term" [data]="rubrics"></rubrics>
                        </ng-container>
                    </div>
                </div>
                <div class="row" *ngIf="currentTab == 3">
                    <div class="avg_performance_level" *ngIf="permissions?.framework_selected_for_video==1 && PLTabData?.average_rating">
                        <label>{{translation?.average_pl}} <b>{{PLTabData?.average_rating}}</b> </label>
                    </div>
                    <div class="col-sm-6" *ngIf="permissions?.framework_selected_for_video==1">
                        <!-- <rubrics [isCreater]="'true'" [data]="PLTabData?.standards?.data" [from]="'tab'" -->
                        <rubrics [data]="PLTabData?.standards?.data" [from]="'tab'" (RubricClicked)="OnRubricClicked($event)">
                        </rubrics>
                    </div>
                    <div class="col-sm-6" *ngIf="permissions?.framework_selected_for_video!=1">
                        {{translation?.vd_you_must_define_frameworks}}
                    </div>
                    <div class="col-sm-6" *ngIf="PLcomments && SelectedPLRubric">
                        <div class="selectedPl">
                            <div class="flex_box_pLevel">
                                <span class="rub_nu flex_box_pLevel_left">{{SelectedPLRubric?.tag_code}}</span>
                                <span class="flex_box_pLevel_right">
                                    {{SelectedPLRubric?.tag_html}}
                                    <div class="number_tagged" *ngIf="SelectedPLRubric?.account_tag_id">
                                        {{translation?.vd_times_observed}}: <span
                                            class="badge badge-primary">{{SelectedPLRubric?.get_standard_tagged_count}}</span>
                            </div>
                            </span>
                        </div>
                    </div>
                    <div class="Pldropdown" *ngIf=" PLcomments.length>0">
                        <select class="form-control" [(ngModel)]="SelectedPLRubric.selectedRating" (ngModelChange)="RatingChanged($event)">
                                <option [value]="0" selected="selected"> {{translation?.rating_select}}
                                </option>
                                <option *ngFor="let pl of SelectedPLRubric.selectOptions" [value]="pl.id">
                                    {{pl.text}}
                                </option>
                            </select>
                        </div>
                        <div class="comments_desc" *ngIf="PLcomments && PLcomments.length>0">
                            <tabset class="tab_no_border">
                                <tab>
                                    <ng-template tabHeading>
                                        {{translation?.vd_comments}}
                                    </ng-template>
                                    <div class="comm_option comm_option2 nopointer" *ngIf="PLcomments && PLcomments.length>0">
                                        <ng-container *ngFor="let marker of CustomMarkers; let i = index">
                                            <span class="custom_tag" [style.background]="colorClasses[i]" [style.borderColor]="[colorClasses[i]]" (click)="SelectTag(marker)"></span> {{marker.tag_title}}
                                        </ng-container>
                                    </div>
                                    <comment [from]="'tab'" [pltab]="true" *ngFor="let comment of PLcomments"
                                        [staticFiles]="staticFiles" [settings]="settings"
                                        (onDelete)="onCommentDelete($event)" (onEdit)="onCommentEdit($event)"
                                        [isActive]="currentComment == comment" [customMarkers]="CustomMarkers"
                                        [classes]="colorClasses" [comment]="comment" [params]="params"
                                        (onReplyEdit)="onReplyEdit($event)"> 
                                    </comment>
                                </tab>
                                <tab *ngIf="getSettings('enable_performance_level')!=0">
                                    <ng-template tabHeading>
                                        {{translation?.vd_performance_level_desc}}
                                    </ng-template>
                                    <ng-container *ngIf="getSettings('enable_unique_desc')==0">
                                        <div class="performance_level_detail"
                                            *ngFor="let settings of SelectedPLRubric?.account_framework_settings_performance_levels">
                                            <div>
                                                <h6> {{settings.performance_level}} </h6>
                                            </div>
                                            <div> {{settings.description}} </div>
                                        </div>
                                    </ng-container>
                                <comment [from]="'tab'" [pltab]="true" *ngFor="let comment of PLcomments" [staticFiles]="staticFiles" [settings]="settings" (onDelete)="onCommentDelete($event)" (onEdit)="onCommentEdit($event)" [isActive]="currentComment == comment" [customMarkers]="CustomMarkers"
                                    [classes]="colorClasses" [comment]="comment" [params]="params" (onReplyEdit)="onReplyEdit($event)"> </comment>
                            </tab>
                            <tab *ngIf="getSettings('enable_performance_level')!=0">
                                <ng-template tabHeading>
                                    {{translation?.vd_performance_level_desc}}
                                </ng-template>
                                <ng-container *ngIf="getSettings('enable_unique_desc')==0">
                                    <div class="performance_level_detail" *ngFor="let settings of SelectedPLRubric?.account_framework_settings_performance_levels">
                                        <div>
                                            <h6> {{settings.performance_level}} </h6>
                                        </div>
                                        <div> {{settings.description}} </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="this.SelectedPLRubric.descriptions && this.SelectedPLRubric.descriptions.length>0">
                                    <div *ngFor="let description of this.SelectedPLRubric.descriptions">
                                        <div>
                                            <h6> {{description.label}} </h6>
                                        </div>
                                        <div> {{description.text}} </div>
                                    </div>
                                </ng-container>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<ng-template #confirmDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.myfile_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.myfile_are_you_sure_to_delete}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteFile(0)">
                {{translation?.myfile_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteFile(1)" [style.backgroundColor]="primery_button_color">
                {{translation?.myfile_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmPublishDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left"> {{translation?.myfile_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.myfile_note_will_be_visible}} </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolvePublish(0)">
                {{translation?.myfile_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolvePublish(1)">
                {{translation?.myfile_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmFrameworkSet>
    <div class="modal-header">
        <h6 class="modal-title pull-left">Confirm</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ResolveAssignFramework(0)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Assigning a framework to a video cannot be undone. Are you sure want to assign this framework to this video?
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveAssignFramework(0)">
                Cancel
            </button>
            <button class="btn btn-primary" (click)="ResolveAssignFramework(1)">
                Ok
            </button>
        </div>
    </div>
</ng-template>
<ng-template #confirmDialogDel>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.myfile_confirm}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDel.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{translation?.myfile_video_delete_confirm}}
    </div>
    <div class="modal-footer text-right">
        <div>
            <button class="btn btn-default" (click)="ResolveDeleteVideo(0)">
                {{translation?.myfile_cancel}}
            </button>
            <button class="btn btn-primary" (click)="ResolveDeleteVideo(1)">
                {{translation?.myfile_ok}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #copyDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.myfile_copy_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tabset id="tabs_copy_video">
            <tab id="tab1" (selectTab)="currentCopyTab=0">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="comment-square" title="" aria-hidden="true"></span> {{translation?.myfile_copy_to_huddles}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform">
                        <input id="input-filter" placeholder={{translation?.myfile_search_huddles}} class="filterinput" type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchHuddleText" (ngModelChange)="onSearchHuddleChange($event)">
                        <div id="cancel-btn" type="text" style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; " class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let huddle of CopyData.all_huddles; let i=index" [hidden]="!huddle.valid">
                            <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'huddle'+i" type="checkbox"
                                    [(ngModel)]="huddle.selected">
                            </label>
                            <label [attr.for]="'huddle'+i">
                                <a class="copy_link"> {{huddle.name}}</a>
                            </label>
                        </li>
                        <li *ngIf="CopyData?.huddles_matched==0">
                            {{translation?.myfile_no_huddles_match}} </li>
                    </ul>
                </div>
            </tab>
            <tab (selectTab)="currentCopyTab=1" *ngIf="permissions?.permission_video_library_upload && permissions?.get_account_video_library_permissions">
                <ng-template tabHeading>
                    <span class="oi" data-glyph="video" title="" aria-hidden="true"></span> {{translation?.myfile_copy_to_video_library}} </ng-template>
                <ul class="inset-area clear-list files-list">
                    <li>
                        <label class="ui-checkbox model">
                            <input class="copyFiles_checkbox" name="account_folder_id" id="account_folder_name"
                                type="checkbox" [(ngModel)]="CopyData.LibrarySelected">
                        </label>
                        <label for="account_folder_name">{{translation?.myfile_copy_to_video_library}} </label>
                    </li>
                </ul>
            </tab>
            <tab (selectTab)="currentCopyTab=2" *ngIf="CopyData.all_accounts.length>1">
                <ng-template tabHeading><span class="oi" data-glyph="people" title="" aria-hidden="true"></span>Copy to {{CopyData.all_accounts.length>1?translation?.myfile_accounts:translation?.myfile_workspace}}
                </ng-template>
                <div id="header-container" class="filterform">
                    <div class="filterform">
                        <input id="input-filter" placeholder={{translation?.myfile_search_accounts}} class="filterinput" type="text" style="width: 100%; display: block;" [(ngModel)]="CopyData.searchAccountText" (ngModelChange)="onSearchAccountChange($event)">
                        <div id="cancel-btn" type="text" style=" width: 10px;  position: absolute; right: 40px; top: 161px; display:none;cursor: pointer; " class="filterinput">X</div>
                    </div>
                </div>
                <div class="filter_data_box">
                    <ul id="list-containers" class="inset-area clear-list files-list">
                        <li *ngFor="let account of CopyData.all_accounts; let i=index" [hidden]="!account.valid">
                            <label class="ui-checkbox model">
                                <input class="copyFiles_checkbox" [attr.id]="'account'+i" type="checkbox"
                                    [(ngModel)]="account.selected">
                            </label>
                            <label [attr.for]="'account'+i">
                                <a class="copy_link"> {{account.company_name}} -
                                    <b>{{translation?.myfile_workspace}}</b></a>
                            </label>
                        </li>
                        <li *ngIf="CopyData?.accounts_matched==0">
                            {{translation?.myfile_no_account_match}}
                        </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="modal-footer ">
        <div class="text-left copy_comments" *ngIf="currentCopyTab!=1 && comments.length>0">
            <input type="checkbox" [(ngModel)]="CopyData.CopyComments" id="copy_comments">
            <label for="copy_comments">{{translation?.myfile_copy_notes}}</label>
        </div>
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="ResolveCopyVideo(0)">{{translation?.myfile_cancel}}</a>
            <a class="green" (click)="ResolveCopyVideo(1)" [style.backgroundColor]="primery_button_color">{{translation?.myfile_ok}}</a>
        </div>
    </div>
</ng-template>
<ng-template #cropDialog>
    <div class="modal-header">
        <h6 class="modal-title pull-left">{{translation?.myfile_crop_video}}</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideCropModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-crop-video-player (CropIsPlaying)="CropIsPlaying=$event" (CropVideoTotalTime)="CaptureTotalTime($event)" [VideoInfo]="VideoInfo" [comments]="comments" [customMarkers]="CustomMarkers" [colors]="colorClasses" [ShowInfo]="ShowInfo" [src]="src" (ShowInfoBack)="ShowInfo=$event"></app-crop-video-player>
        <div>
            <span>{{cropStartValue}}</span>
            <span style="float: right;">{{cropEndValue}}</span>
        </div>
        <nouislider *ngIf="videoEnd" [config]="cropRangeSliderConfig" [(ngModel)]="cropRange" (ngModelChange)="onCropSliderChange($event)"></nouislider>
        <div>
            <span>00:00</span>
            <span style="float: right;">{{videoEnd}}</span>
        </div>
    </div>
    <div class="modal-footer ">
        <div class="text-right model-btns">
            <a class="simple_btn" (click)="hideCropModal()">{{translation?.myfile_cancel}}</a>
            <a class="blue" (click)="CropPreviewVideo()">{{translation?.myfile_preview_video}}</a>
            <a class="green" (click)="TrimVideo()" [style.backgroundColor]="primery_button_color">{{translation?.myfile_trim}}</a>
        </div>
    </div>
</ng-template>